{% extends 'base.html' %}
{% load staticfiles %}
{% load material_form %}
<head>
	{%block title%}
		MSITNow|Options
	{% endblock title %}

	{% block cssfiles %}
		{{block.super }}
	{% endblock cssfiles %}
</head>
	{% block content %}
		<h1 class="flow-text center">
			GROUP SORTING
		</h1>
		<form method = 'POST' action="#" class="container">
			{% csrf_token %}
			<div class='flow-text'>
				<p class="center grey-text">Hey there! Now that you have signed up for MsitNOW , please select a group according to your interest. This will sort you into that particular technology group and you will be given further instructions to follow! We hope You benefit from this to the fullest!</p>
				<p class="center grey-text">
					Along with one technology you can also join a group with higher studies prospects given below , under CAREER PLANNING. 
				</p>
			</div>
			<div class='z-depth-1' style="padding:10px 10px;margin-top: 30px;">
				<div class="flow-text">WEB DEVELOPMENT</div>
				<p>
	      			<input name = 'group1' type="radio" id="java" value="JAVA/EE" />
	      			<label for="java">JAVA/EE</label>
	      		</p>
	      		<p>
	      			<input name = 'group1' type="radio" id="python" value="Python/Django" />
	      			<label for="python">Python/Django</label>
	      		</p>
	      		<p>	
	      			<input name = 'group1' type="radio" id="php" value="PHP" />
	      			<label for="php">PHP</label>
	      		</p>
	      		<p>	
	      			<input name = 'group1' type="radio" id="ruby" value="Ruby On Rails" />
	      			<label for="ruby">Ruby on Rails</label>
	    		</p>		
			</div>
			<div class="z-depth-1" style="padding:10px 10px;margin-top: 30px;">
				<div class="flow-text">MOBILE DEVEOPMENT & APPS</div>
				<p>
	      			<input name  = 'group1' type="radio" id="android" value="Android Development" />
	      			<label for="android">Android Development</label>
	      		</p>
	      		<p>
	      			<input name  = 'group1' type="radio" id="iOS" value="iOS Development" />
	      			<label for="iOS">iOS Development</label>
	      		</p>
	      		<p>	
	      			<input name  = 'group1' type="radio" id="windows phone" value="Windows Phone Application Development" />
	      			<label for="windows phone">Windows Phone Application Development</label>
	      		</p>		
			</div>
			<div class="z-depth-1" style="padding:10px 10px;margin-top: 30px;">
				<div class="flow-text">LOGIC AND PROBLEM SOLVING</div>
				<p>
					<input name = 'group1' type = 'radio' id="comp. prog" value = 'Competitive Programming'/>
					<label for = 'comp. prog'>Competitve Programming</label>
				</p>	
			</div>
			<div class="z-depth-1" style="padding:10px 10px;margin-top: 30px;">
				<div class="flow-text">INTERFACE DESIGN</div>
				<p>
					<input name = 'group1' type = 'radio' id="ui/ux" value="UI/UX" />
					<label for = 'ui/ux'>UI/UX Design</label>
				</p>	
			</div>
			<div class="z-depth-1" style="padding:10px 10px;margin-top: 30px;">
				<div class="flow-text">CAREER PLANNING</div>
				<p>
					<input name = 'group2' type="radio" id="GATE" value="GATE"/>
					<label for = 'GATE'>GATE</label>
				</p>
				<p>
					<input name = 'group2' type="radio" id="GRE" value='GRE'/>
					<label for = 'GRE'>GRE</label>
				</p>
				<p>
					<input name = 'group2' type="radio" id="CAT" value="CAT"/>
					<label for = 'CAT'>CAT</label>
				</p>
			</div>
			<div class="row s12 m12 l12" style="margin:30px 0px;">
				<input class = 'btn waves-effect right' value="I'm Ready!" type='submit'/>
			</div>
  </form>
	{% endblock content %}

{% block jsfiles %}
	{{block.super}}
{% endblock jsfiles %}
