<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles %}
{% load material_form %}
<html>
{% block title %}
  Login
{% endblock title %}
{% block nav %}
{% if user.is_authenticated %}
	<li><a href="{% url 'profile' %}">My Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
	<li><a class="dropdown-button" href="#!" data-activates="dropdown1">SignUp<i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="{% url 'teacher_signup'%}">Teacher</a></li>
	  <li><a href="{% url 'student_signup'%}">Student</a></li>
	</ul>
{% endif %}
{% endblock nav%}
{% block content %}
	<div class="container">
		<div class="z-depth-5">
 			<div class="card-panel teal darken-2 white-text">Login</div>	 
				<div class="row">
					<div class="col s8 offset-s2">		
						<form method="post">
							{% csrf_token%}
							{% form form=form %}{% endform %}	
							<button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
						</form>
					</div>	
				</div>
			<br></br>
		</div>
	</div>
</div>
{% endblock content %}
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}
