{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block cssfiles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'loginauth/css/home_student.css' %}">
{% endblock cssfiles %}

{% block sidecontent %}
  <div class="valign-wrapper center-align">
    <ul class="userinfo">
      <li class="valign">{{user.get_avatar|safe}}</li>
      <li>{{user.get_full_name}}</li>
    </ul>
  </div>
  <ul class="group-container">
    <li>My Groups</li>
    {% for group in groups %}
      <a href="/groups/{{group.slug}}"><div class="chip">
        <img src="/media/avatars/default.png" alt="Contact Person">
        {{group.name}}
      </div></a>
    {% endfor %}
  </ul> 
{%endblock sidecontent%}

{% block mob-nav %}
 <div class="valign-wrapper center-align grey-text text-darken-3">
    <ul class="userinfo">
      <li class="valign">{{user.get_avatar|safe}}</li>
      <li>{{user.get_full_name}}</li>
    </ul>
  </div>
  <ul class="group-container">
    <li>My Groups</li>
    {% for group in groups %}
      <a href="/groups/{{group.slug}}"><div class="chip">
        <img src="/media/avatars/default.png" alt="Contact Person">
        {{group.name}}
      </div></a>
    {% endfor %}
  </ul> 
{% endblock mob-nav %}

{% block maincontent %}
<div class="container">
	<div class="row">
    <div class="">
      <h5>Recents Items</h5>
      <div class="divider teal darken-3"></div>
      <br>
      {% for c in content %}
        <div class="row">
          <div class="">
          {%if c.title%}
            <div class="card z-depth-2">
              <div class="card-content">
                <blockquote style="border-left: 5px solid #3387d4;">
	                <span class="card-title black-text"><b>{{c.title}}</b></span>
	                <p>{{c.content|urlize|linebreaksbr}}</p>
	                <br>
	                <div>
	                <i class="right timestamp">{{c.update_timstamp}}</i>
	                	<strong>Post by:</strong> {{c.posting_user.get_full_name}}
	                </div>
                </blockquote>
              </div>
            </div>
          {%else%}
           <div class="card z-depth-2">
              <div class="card-content">
                <blockquote style="border-left: 5px solid #107e47;">
	                <p>{{c.content|urlize|linebreaksbr}}</p>
	                <br>
	                <div>
	                  <i class="right timestamp">{{c.update_timstamp}}</i>
	                  	<strong>Query by:</strong> {{c.query_poster.get_full_name}}
	                </div>
                </blockquote>
              </div>
            </div>  
          {%endif %}           
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>  
{% endblock maincontent %}