{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	MSIT|Now
{% endblock title %}
{% block nav%}
{% if user.is_authenticated %}
	<li><a href="{% url 'profile' user %}">My Profile</a></li>
  <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
	<li><a class="dropdown-button" href="#!" data-activates="dropdown1">SignUp<i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id="dropdown1" class="dropdown-content">
	 <li><a href="{% url 'teacher_signup'%}">Teacher</a></li>
   <li><a href="{% url 'student_signup'%}">Student</a></li>
	</ul>
{% endif %}
{% endblock nav%}
{% block cssfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}">
{% endblock cssfiles %}
{% block content %}
<div class="parallax-container">
	<div class="parallax"><img class = 'responsive-img' src="http://materializecss.com/images/parallax1.jpg"></div>
  	</div>
  	<div class="section white">
    	<div class="row container">
      		<blockquote>
      			<h2 class="header">MSIT|Now</h2>
      			<p class="grey-text text-darken-3 lighten-3 ">
      			It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      			</p>
      		</blockquote>
          <h4 class="header">Courses Offered</h4>
          <table>
            <tr>
              <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="flipper">
                    <div class="front">
                      <div class="card #5d4037 brown darken-2 course-card">
                        <div class="card-content white-text">
                          <span class="card-title">Career Planning</span>
                          <img src = "{{MEDIA_URL}}/home/career.png">
                        </div>
                      </div>
                    </div>
                    <div class="back">
                      <div class="card course-card">
                        <div class="card-content black-text">
                          <span class="card-title black-text">Career Planning</span>
                          <ul>
                            <li>CAT</li>
                            <li>GATE</li>
                            <li>GRE</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="flipper">
                    <div class="front">
                      <div class="card #0d47a1 blue darken-4 course-card">
                        <div class="card-content white-text">
                          <span class="card-title">Mobile Development</span>
                          <img src = "{{MEDIA_URL}}/home/mobiledev.png">
                        </div>
                      </div>
                    </div>
                    <div class="back">
                      <div class="card course-card">
                        <div class="card-content black-text ">
                          <span class="card-title black-text">Mobile Development</span>
                            <ul>
                              <li>Android</li>
                              <li>iOS</li>
                              <li>Windows Phone</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                  <div class="flipper">
                    <div class="front">
                      <div class="card #2e7d32 green darken-3 course-card">
                        <div class="card-content white-text">
                          <span class="card-title">Web Development</span>
                          <img src = "{{MEDIA_URL}}/home/webdev.png">
                        </div>
                      </div>
                    </div>
                    <div class="back">
                      <div class="card course-card">
                        <div class="card-content black-text">
                          <span class="card-title black-text">Web Development</span>
                          <ul>
                            <li>Java EE</li>
                            <li>PHP</li>
                            <li>Python Django</li>
                            <li>Ruby</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
    	</div>
  	</div>
  	<div class="parallax-container">
    	<div class="parallax"><img src="http://materializecss.com/images/parallax2.jpg"></div>
  	</div>
</div>
{% endblock content %}
{% block jsfiles %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'home/js/home.js' %}"></script>
{% endblock jsfiles %}

