{% extends 'base_dashboard.html' %}
{% load staticfiles %}

{% block cssfiles %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'loginauth/css/home_teacher.css' %}">
{% endblock cssfiles %}

{% block sidecontent %}
  <div class="valign-wrapper center-align">
    <ul class="userinfo">
      <li class="valign">{{user.get_avatar|safe}}</li>
      <li>{{user.get_full_name}}</li>
    </ul>
  </div>
  <ul class="group-container">
    <li>My Groups</li>
    {% for group in groups %}
      <a href="/groups/{{group.slug}}"><div class="chip">
        <img src="/media/avatars/default.png" alt="Contact Person">
        {{group.name}}
      </div>   </a>
    {% endfor %}
  </ul> 
{%endblock sidecontent%}

{% block mob-nav %}
 <div class="valign-wrapper center-align grey-text text-darken-3">
    <ul class="userinfo">
      <li class="valign">{{user.get_avatar|safe}}</li>
      <li>{{user.get_full_name}}</li>
    </ul>
  </div>
  <ul class="group-container">
    <li>My Groups</li>
    {% for group in groups %}
      <a href="/groups/{{group.slug}}"><div class="chip">
        <img src="/media/avatars/default.png" alt="Contact Person">
        {{group.name}}
      </div>   </a>
    {% endfor %}
  </ul> 
{% endblock mob-nav %}

{%block maincontent%}
Enter your content here
{%endblock%}