{% extends 'base.html' %}
{% load staticfiles %}

{% block title%} 
	My Profile
{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/myprofile.css' %}">
{% endblock cssfiles %}

{% block nav%}
	<li><a href="{% url 'profile' user %}">My Profile</a></li>
	<li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock nav%}

{%block content %}
  <div id="usercard" class="container">
    <div class="row center">
      
        <div class="card z-depth-2">
          <div class="card-content white">
            {{user.get_avatar|safe}}
            <div class="card-title black-text"><b>{{user.get_full_name}}</b></div>
            <div class="row">
              <div class="col s12 m12 l6">
                <div class="section">User Details</div>
                <div class="divider"></div>
                <div class="section left-align">
                  <ul class="collection">
                    <li class="collection-item"><b>Gender</b> <em class="right">{{user.get_gender_display}}</em></li>
                    <li class="collection-item"><b>Department</b> <em class="right">{{user.get_department_display}}</em></li>
                    <li class="collection-item"><b>Shift</b> <em class="right">{{user.get_shift_display}}</em></li>
                  </ul>
                </div>
              </div>
              <div class="col s12 m12 l6">
                <div class="section">Contact Details</div>
                <div class="divider"></div>
                <div class="section left-align">
                  <ul class="collection">
                    <li class="collection-item"><b>Email</b> <em class="right">{{user.email}}</em></li>
                    <li class="collection-item"><b>Mobile Number</b> <em class="right">{{user.contact_number}}</em></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  </div>
{%endblock%}