.errors{
	font-size : 10px;
	color : red;
}
.background-grey{
	background-color:#f3f3e7;
}
.background-white{
	background-color:#ffffff;
}
.post{
	padding:20px;
	margin:10px 0px;
}
.text-align-center{
	text-align:center
}
.group-image{
	width:100%;
	height:40vh;
}
.image-url{
	background-size:cover;
	background-position:center;
}
.image-form{
	height:150px;
	width:150px;
	border-radius:75px;
}
.image-post{
	height:60px;
	width:60px;
	border-radius:30px;
}
.timestamp{
	padding: 0.3em;
	font-size: 0.8em;
}
table{
	margin:20px 0px;
}
#id_content{
	max-height: 10vh;
	min-height: 10vh;
}
