#dashnav{
	padding-top: 4em;
}
.timestamp{
	padding: 0.3em;
	font-size: 0.8em;
}
.maincontent,footer{
	padding-left: 15em;
}
@media only screen and (max-width : 992px) {
      .maincontent,footer {
        padding-left: 0;
      }
    }
