<!Doctype html>
{% load staticfiles %}
{% load material_form %}
<html>
<head>	
	<title>
		{% block title %}
		{% endblock title %}
	</title>
  <div class="navbar-fixed">  
  	<nav>
  	<div class="nav-wrapper #004d40 teal darken-4">
      	<a href="{% url 'dashboard' %}" class="brand-logo" style="padding:0px 20px;">MSIT|Now</a>
      	<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        	<ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'about_us' %}">About Us</a></li>
          	{% block nav %}
          	{% endblock nav %}
        	</ul>
        	<ul class="side-nav" id="mobile-demo">
            {% block mob-nav %}
            {% endblock mob-nav %}
          	<li><a href="/about_us">About Us</a></li>
        	</ul>
     	</div>
  	</nav>
   </div> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.css' %}"-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'semantic/css/semantic.css' %}"> -->
  {% block cssfiles %}
  {% endblock cssfiles %}
</head>
<body style="background-color:#f3f3e7;">
	{% block content %}

	{% endblock content %}
<footer class="page-footer #004d40 teal darken-4">
    <div class="container">
    	<div class="row">
   			<div class="col l6 s12">
            	<h5 class="white-text">MSIT|Now</h5>
            	<div>
            		<p class="white-text ">Our Technology stack includes :</p>
            		<div class="row">

            			<a href="https://bitbucket.org/" target="_blank"><div class="col s3 m3 l3" style="height:100px;width:100px;background-image:url('{{MEDIA_URL}}footer_images/bitbucket.png');background-size:cover;background-position:contain;object-fit:cover"></div></a>
	            	
	            		<a href="http://materializecss.com/" target="_blank"><div class="col s3 m3 l3" style="height:100px;width:100px;background-image:url('{{MEDIA_URL}}footer_images/Material.png');background-size:contain;background-position:center;"></div></a>
	            	
	            		<a href="https://djangoproject.com/" target="_blank"><div class="col s3" style="height:100px;width:100px;background-image:url('{{MEDIA_URL}}footer_images/django-logo-negative.png');background-size:contain;background-position:center;object-fit:cover;background-repeat:no-repeat;"></div></a>
	            	
	            		<a href="https://jquery.com/" target="_blank"><div class="col s2" style="height:100px;width:100px;background-image:url('{{MEDIA_URL}}footer_images/jquery-icon.png');background-size:cover;background-position:center;"></div></a>
	            		<a href="https://www.mysql.com/" target="_blank"><div class="col s1 m1 l1 " style="height:100px;width:100px;background-image:url('{{MEDIA_URL}}footer_images/Mysql.jpg');background-size:cover;background-position:center;"></div></a>
	            		</div>
            	</div>
         	</div>
           	<div class="col l4 offset-l2 s12">
               	<h5 class="white-text">Links</h5>
               	<ul>
               		<li><a class="grey-text text-lighten-3" href="http://msit.in">MSIT</a></li>
               		<li><a class="grey-text text-lighten-3" href="/about_us">About Us</a></li>
              	</ul>
           	</div>
       	</div>
    </div>
        <div class="footer-copyright">
        	<div class="container">
           		© 2016 MSIT|Now
           	</div>
        </div>
</footer>
</body>
{% include 'material/includes/material_css.html' %}
{% block jsfiles %}
<script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/jquery.formset.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jquery/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
<script type="text/javascript" src="{% static 'base.js' %}"></script>
{% endblock jsfiles %}
</html>
<!-- <script type="text/javascript" src="{% static 'semantic/js/semantic.js' %}"></script> -->