{% extends 'base.html' %}
{% load staticfiles %}

{% block title%} 
	Dashboard
{% endblock title %}

{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'base_dashboard.css' %}">
{% endblock cssfiles %}

{% block nav%}
	<li><a href="{% url 'profile' user %}">My Profile</a></li>
  	<li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock nav%}

{%block content %}
  <ul id="dashnav" class="side-nav fixed">
    {%block sidecontent%}
    {% endblock sidecontent %}
  </ul>
  <div class="maincontent">
  	{%block maincontent%}
  	{%endblock%}
  </div>
{%endblock%}