<!Doctype html>
{% load staticfiles %}
<html>
	<head>
		<title>MSIT|Now</title>
	</head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'materialize/css/materialize.css' %}">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<body>
		<div class="slider fullscreen">
		    <ul class="slides">
			    <li>
			    	<img src="https://www.scholarslearning.com/college_gallery/s%20u%20n%2016.jpg">
			        <div class="caption center-align">
			        	<h3>MSIT|Now</h3>
			          	<a href="{% url 'home' %}"><h5 class="btn">Lets Get Started</h5></a>
			        </div>
			    </li>
			    <li>
			    	<img src="http://res.cloudinary.com/brainybatch-technologies/image/upload/v1444915199/tlugredqnatvkznlt2dn.jpg">
			        <div class="caption center-align">
			          	<h3>MSIT|Now</h3>
			          	<a href="{% url 'home' %}"><h5 class="btn">Lets Get Started</h5></a>
			        </div>
			    </li>
			    <li>
			        <img src="http://static.learnof.com/learnof/ImageUploads/institute-gallery/original/4439_MaharajaSurajmalInstituteofTechnologyMSITNewDelhi_1423306942_original.jpg">
			        <div class="caption center-align">
			          	<h3>MSIT|Now</h3>
			          	<a href="{% url 'home' %}"><h5 class="btn">Lets Get Started</h5></a>
			        </div>
			    </li>
			    <li>
			        <img src="http://lorempixel.com/580/250/nature/4">
			        <div class="caption center-align">
			          	<h3>MSIT|Now</h3>
			          	<a href="{% url 'home' %}"><h5 class="btn">Lets Get Started</h5></a>
			        </div>
			     </li>
		    </ul>
		</div>
	</body>
	<script type="text/javascript" src="{% static 'jquery/jquery-2.1.3.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery/jquery.formset.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
	<script type="text/javascript" src="{% static 'base.js' %}"></script>
	<script type="text/javascript" src="{% static 'home/js/index.js' %}"></script>
</html>