{% extends 'base.html' %}
{% load material_form %}
{% load staticfiles %}
{% block title %}
    {{ group.name }}
{% endblock title %}
{% block nav%}
	<li><a href="{% url 'profile' %}">My Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% endblock nav%}
{% block mob-nav %}
	<li><a href="/profile">My Profile</a></li>
    <li><a href="/loginauth/logout">Logout</a></li>
{% endblock mob-nav %}
{% block cssfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'groups/css/group.css' %}">
{% endblock cssfiles %}

{% block content %}
	<div class="background-grey">
    <img class="group-image" src="{{MEDIA_URL}}{{group.display_pic}}"></div>
    	<div class="col s12 m12 l12 background-white">
		    <ul class="tabs">
				<li class="tab col s3"><a href="#About">About This Group</a></li>
		        <li class="tab col s3"><a class="active" href="#Resources">Resources</a></li>
		        <li class="tab col s3"><a href="#Doubts">Doubts</a></li>
		    </ul>
    	</div>
    	
    	<div id="About" class="container col s12">
    		<table class="bordered centered z-depth-1 background-white text-align-center">	
    			<tr>
    				<td>Name of Group :</td>
    				<td>{{ group.name }}</td>
    			</tr>
    			<tr>
    				<td>Type :</td>
    				<td>{{ group.get_type_of_group_display }}</td>
    			</tr>
    		</table>
    		<ul class="collapsible text-align-center" data-collapsible="accordian">
    			<li>
				   <div class="collapsible-header">About this Group</div>
				   <div class="collapsible-body"><p>{{group.description}}</p></div>
				</li>
				<li>
				   <div class="collapsible-header">Members</div>
				   <div class="collapsible-body">
				   		{% for g in group.members.all %}
								<div>{{ g.user.first_name }} {{ g.user.last_name }}</div>
						{% endfor %}
				   </div>
				</li>
				<li>
				   <div class="collapsible-header">Mentors</div>
				   <div class="collapsible-body">
				   		{% for g in group.mentors.all %}
								<div>{{ g.user.first_name }} {{ g.user.last_name }}</div>
						{% endfor %}
				   </div>
				</li>
			</ul>
    	</div>
    	<div id="Resources" class="col s12">
    		<div class="container">
    			<p class="flow-text">Group Posts</p>
    			<input type="hidden" value="{{group.slug}}" id="slug">
    			{% if a == b %}
    				<div class="z-depth-1 post background-white">
    				<div class="row">
    					<div class="col s2 offset-s5 image-url image-form" style="background-image:url({{MEDIA_URL}}{{request.user.avatar}});"></div>
    				</div>
    					<blockquote class="flow-text">Post a Resource!</blockquote>
    				<form method = "POST" id="resource_form">
    					{% csrf_token %}
    					{% form form=form1 %}
    					{% endform %}
    					<input type="submit" class="btn waves-effect" value="Post it!">
    				</form>
    			</div>
    			{% endif %}
    			<div id = "post_container">
    			{% for g in resources %}
    				<div class="z-depth-1 post background-white">
    					<div class = "image-url image-post" style="background-image:url({{MEDIA_URL}}{{request.user.avatar}});"></div>
    					<h5><strong>{{ g.title }}</strong></h5>
    					<p>{{ g.content|urlize|linebreaksbr }}</p>
                        <p class = "teal-text right">{{ g.created_timestamp }}</p>
    					<button class="btn-floating waves-effect">+</button>
    				</div>
    			{% endfor %}
                </div>
    		</div>
    	</div>
    	<div id="Doubts" class="col s12">
    		<div class="container">
    			<p class="flow-text">Doubts and Queries</p>
    			<div class="z-depth-1 post background-white">
    				<div class="row">
    					<div class="col s2 offset-s5 image-url image-form" style="background-image:url({{MEDIA_URL}}{{request.user.avatar}});"></div>
    				</div>
    				<blockquote class="flow-text">Post a Doubt!</blockquote>
    				<form method = "POST" id="doubt_form">
        				{% csrf_token %}
        				{% form form=form2 %}
        				{% endform %}
    				<input type="submit" class="btn waves-effect" value="Post it!">
    			</form>
    			</div>
                <div id="doubt_container">
    			{% for g in doubts %}
    				<div class="z-depth-1 post background white">
    					<div class = "image-url image-post" style="background-image:url({{MEDIA_URL}}{{request.user.avatar}});"></div>
    					<p>{{ g.content|urlize|linebreaksbr }}</p>
    				</div>
    			{% endfor %}
                </div>
    		</div>
    	</div>
	</div>	
{% endblock content %}
{% block jsfiles %}
	{{block.super}}
	<script type="text/javascript" src="{% static 'groups/js/group_page.js' %}"></script>
{% endblock jsfiles %}