.parallax-container {
	height : 500px !important;
}
.flip-container {
	perspective: 1000;
}
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}
.flip-container, .front, .back {
	width: 100%;
	height: 50vh;
}
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}
.course-card{
	height: 100%;
}
table{
	width:100%;
}
img{
	width: 100%;
	height: 100%;
}