{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
	About Us
{% endblock title %}
{% block nav%}
{% if user.is_authenticated %}
	<li><a href="/profile/{{user.username}}">My Profile</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
	<li><a href="{% url 'login' %}">Login</a></li>
	<li><a class="dropdown-button" href="#!" data-activates="dropdown1">SignUp<i class="material-icons right">arrow_drop_down</i></a></li>
	<ul id="dropdown1" class="dropdown-content">
	  <li><a href="{% url 'teacher_signup'%}">Teacher</a></li>
	  <li><a href="{% url 'student_signup'%}">Student</a></li>
	</ul>
{% endif %}
{% endblock nav%}
{% block content %}
<div style="background-color:#f3f3e7;">
	<div id="About" class="container col s12 bordered centered z-depth-1" style="background-color:#ffffff;">
		<table>
			<tr>
				<td>
					<h4 class="flow-text">About</h4>
					<p>
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
				</td>
			</tr>
			<tr>
				<table>
					<tr colspan="3">
						<th class="flow-text">Meet The Team</th>
					</tr>
					<tr>
						<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Danish<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/DaNish.AnSari.1994">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Danish<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
					  	<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Debojit<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/debojit.kaushik">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Debojit<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
					  	<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Divyanshu<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/profile.php?id=534707522&fref=ts">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Divyanshu<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
				  	</tr>
				  	<tr>
						<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Kartik<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/kartikograder?fref=ts">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Kartik<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
					  	<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Mayur<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/mayur.gupta.12532?fref=ts">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Mayur<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
					  	<td>
							<div class="card small">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="http://materializecss.com/images/sample-1.jpg">
							    </div>
							    <div class="card-content">
							      <span class="card-title activator grey-text text-darken-4">Saksham<i class="material-icons right">more_vert</i></span>
							      <p><a href="https://www.facebook.com/saksham.verenkar?fref=ts">Facebook</a></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4">Saksham<i class="material-icons right">close</i></span>
							      <p>Here is some more information about this product that is only revealed once clicked on.</p>
							    </div>
					  		</div>
					  	</td>
				  	</tr>
			  	</table>
			</tr>
		</table>
	</div>
</div>
{% endblock content %}
